.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.dia {
    margin-bottom: 32px;

    .descripciones {
        margin-bottom: 16px;

        .descripcion {
            display: flex;

            .texto {
                &.con-media {
                    padding-right: 8px;
                }
                margin-bottom: 8px;
            }

            .media {
                img {
                    width: 100%;
                }
            }
        }
    }

    .comentarios {        
        .comentario {
            &:first-child {
                border-top: 1px solid gray;
                padding-top: 16px;
            }
            margin-bottom: 8px;
            display: flex;
            >div {
                flex: 1 1;
            }

            .foto {
                max-width: 90px;
            }

            .nombre-texto {
                padding-top: 8px;
                padding-right: 8px;
                .nombre {
                    font-weight: bold;
                }

                .texto {
                    font-size: 10pt;
                }

                .minuto {
                    color: gray;
                    font-size: 8pt;
                }

            }
        }
    }
}

@media (max-width: 768px) {
    .dia {
        .comentario {
            flex-direction: column;
        }

        .descripciones {
            .descripcion {
                flex-direction: column;
            }
        }
    }
}

.header-dia {
    display: flex;
    border-bottom: 1px solid darkred;
    margin-bottom: 16px;

    >div {
        padding: 8px 16px;
        flex: 0 0;

        &.fecha {
            flex: 1 1;
            color: darkred;
            font-weight: bold;
            padding-left: 0;
        }

        &.infectados, &.muertos {
            font-weight: bold;
        }

        &.infectados-data, &.muertos-data {
            color: gray;
            >div {
                display: flex;
                .etiqueta {
                    min-width: 64px;
                }

                .cantidad {
                    text-align: right;
                    min-width: 64px;
                    font-weight: bold;
                }
            }
        }

        &.muertos-data {
            padding-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .dia {
        .comentario {
            flex-direction: column;
        }

        .descripciones {
            .descripcion {
                flex-direction: column;
            }
        }
    }

    .header-dia {
        >div {
            padding: 4px 8px;

            &.infectados-data, &.muertos-data {
                font-size: 8pt;
                >div {
                    .cantidad {
                        min-width: 32px;
                    }
                }
            }
        }
    }
}